name: TypeScript Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

    - name: Use Node.js
      uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f
      with:
        node-version: '18'

    - name: Install dependencies
      run: npm ci
      working-directory: ./typescript

    - name: Run tests
      run: npm test
      working-directory: ./typescript